:root {
  /* safe area insets (iOS notch / home indicator) */
  --safe-area-top: env(safe-area-inset-top, 0px);
  --safe-area-right: env(safe-area-inset-right, 0px);
  --safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --safe-area-left: env(safe-area-inset-left, 0px);
}

a {
  text-decoration: none;
}

/* disable highlight (блик) effect */
a,
button,
[role="button"] {
  -webkit-tap-highlight-color: transparent;
}
